<!DOCTYPE html>
<html lang="en" ng-app="CatalogApp">
<head>
    <title>SLOChart | Administration</title>
    <meta charset="UTF-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="administratorPage.css">
    <!-- Angular CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
    <!-- JQuery CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
    <body>
    <div ng-controller="FlowchartCtrl">
        <h2>Editing "Freshman Flowchart"</h2>
        <br>

        <div class="flowchart">
            <div class="year">
                <h1>Freshman</h1>
                <div class="flowchartQuarterColumn">
                    <h1>Fall</h1>
                    <ul id="quarter1" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 1 && c.quarter == 1">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Winter</h1>
                    <ul id="quarter2" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 1 && c.quarter == 2">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Spring</h1>
                    <ul id="quarter3" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 1 && c.quarter == 3">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="year">
                <h1>Sophomore</h1>
                <div class="flowchartQuarterColumn">
                    <h1>Fall</h1>
                    <ul id="quarter4" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 2 && c.quarter == 1">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Winter</h1>
                    <ul id="quarter5" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 2 && c.quarter == 2">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Spring</h1>
                    <ul id="quarter6" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 2 && c.quarter == 3">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="year">
                <h1>Junior</h1>
                <div class="flowchartQuarterColumn">
                    <h1>Fall</h1>
                    <ul id="quarter7" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 3 && c.quarter == 1">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Winter</h1>
                    <ul id="quarter8" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 3 && c.quarter == 2">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Spring</h1>
                    <ul id="quarter9" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 3 && c.quarter == 3">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="year">
                <h1>Senior</h1>
                <div class="flowchartQuarterColumn">
                    <h1>Fall</h1>
                    <ul id="quarter10" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 4 && c.quarter == 1">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Winter</h1>
                    <ul id="quarter11" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 4 && c.quarter == 2">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
                <div class="flowchartQuarterColumn">
                    <h1>Spring</h1>
                    <ul id="quarter12" class="flowchartQuarter">
                        <li class="course {{c.educationArea}}" ng-repeat="c in plannedCourses" ng-if="c.year == 4 && c.quarter == 3">
                            {{c.title}}
                            <br>
                            {{c.prefix}} {{c.number}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#quarter1, #quarter2, #quarter3, #quarter4, #quarter5, #quarter6, #quarter7, #quarter8, #quarter9, #quarter10, #quarter11, #quarter12" ).sortable({
                connectWith: ".flowchartQuarter"
            }).disableSelection();
        });
    </script>
    <script>
        var app = angular.module('CatalogApp', ['ui.bootstrap']);
        function loadCatalogCourses ($scope, $http){
            $http({
                method : 'GET',
                url : 'catalogDb'
            }).then(function (response) {
                $scope.catalogCourses = response.data;
            });
        }

        function loadPlannedCoursesFromCatalog($scope, $http, data) {
            angular.forEach(data, function(obj) {
                $http({
                    method: 'GET',
                    url : 'catalogDb/' + obj.courseId + '',
                }).then(function (response) {
                    response.data.quarter = obj.quarter;
                    response.data.year = obj.year;
                    $scope.plannedCourses.push(response.data);
                });
            });
        }

        function loadPlannedCourses($scope, $http){
            $scope.plannedCourses = [];
            $http({
                method : 'GET',
                url : 'plannedCourseDb/studentId/1'
            }).then(function (response) {
                loadPlannedCoursesFromCatalog($scope, $http, response.data);
            });
        }

        app.controller('CatalogCtrl', function ($scope, $http){
            loadCatalogCourses($scope, $http);
        });

        app.controller('FlowchartCtrl', function ($scope, $http) {
            loadPlannedCourses($scope, $http);
        });

    </script>
    </body>
</html>