body {
    overflow-x: hidden;
    background:#EEEEEE;
}

table th {
    text-align:center;
    border-bottom:2px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:1px solid black;
}

table td {
    padding:2px;
    border-right:1px solid #aaaaaa;
    border-left:1px solid #aaaaaa;
    width:100px;
    height:100px;
}