<!DOCTYPE html>
<html ng-app="PostApp">
<head>
    <title>Post App</title>
    <meta charset="utf-8">

    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script
            src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
    <link
            href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"
            rel="stylesheet">


    <script>
var app = angular.module('PostApp', ['ui.bootstrap']);

app.controller('PostCtrl', function ($scope, $dialog) {

	$scope.posts = [
	  {
	    "id": 1,
	    "title": "Hello",
	    "post": "Hello World"
	  }
		];

  	var addDialogOptions = {
    	controller: 'AddPostCtrl',
    	templateUrl: 'postAdd.html'
  	};

  	$scope.add = function(post){
    	$dialog.dialog(angular.extend(addDialogOptions, {})).open()
  	};

  	var editDialogOptions = {
	    controller: 'EditPostCtrl',
	    templateUrl: 'postEdit.html'
	};

  	$scope.edit = function(post){
   	 	var postToEdit = post;
    	$dialog.dialog(angular.extend(editDialogOptions, {resolve: {post: angular.copy(postToEdit)}})).open()
  	};
});

app.controller('EditPostCtrl', function ($scope, post, dialog) {

	$scope.post = post;

  	$scope.save = function() {
    	dialog.close($scope.post);
  	};

  	$scope.close = function(){
    	dialog.close(undefined);
  	};
});


app.controller('AddPostCtrl', function($scope, dialog){

  	$scope.save = function(post) {
    	dialog.close();
  	};

  	$scope.close = function(){
    	dialog.close(undefined);
  	};
});

app.controller('DeletePostCtrl', function($scope, post){
//delete
});


</script>
    <link rel="stylesheet" type="text/css" href="table.css" />

</head>
<body>
<div ng-controller="PostCtrl">
    <h3>Posts:</h3>
    <table>
        <tr>
            <td colspan=3>&nbsp;</td>
            <td><button ng-click="add()">add post</button></td>
        </tr>
        <tr ng-repeat="p in posts">
            <td>{{p.title}}</td>
            <td>{{p.post}}</td>
            <td><button ng-click="edit(p)">edit</button>
                <button ng-click="delete(p)">delete</button></td>
        </tr>
    </table>
</div>
</body>
</html>
