<!DOCTYPE html>
<html lang="en" ng-app="StudentApp">

<head>
    <title>SLOChart | Student</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="studentPage.css">
    <!-- Angular CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.1.0.js"></script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- JQuery CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="StudentCtrl">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <h3>Course Catalog</h3>
            <br>
            <form>
                <span>Name:  </span>
                <input type="text" ng-model="searchInput.name"/><br>
                <span>Title:   </span>
                <input type="text" ng-model="searchInput.title"/><br>
            </form>
            <br>
            <div>
                <ul id="catalog1" class="catalogTable">
                    <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in catalogCourses | orderBy:['name'] | filter:searchInput">
                        <span>{{c.name}}</span>
                        <br>
                        {{c.title}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="header">
            <a href="#menu-toggle" class="header-item-left" id="menu-toggle">Catalog</a>
            <a href="#menu-toggle" class="header-item-left" id="courses-toggle">Required Courses</a>
            <div class="dropdown">
                <p class="header-item-left">Saved Flowcharts</p>
                <div class="dropdown-content">
                    <a href="#" data-flowchartId="{{f.id}}" ng-repeat="f in userFlowcharts" ng-click="loadPlannedCourses(f.id)">{{f.flowchartName}}</a>
                    <a href="#" style="text-align:center;font-weight:bold;" ng-click="addNewFlowchart()">+</a>
                </div>
            </div>
            <a class="header-item-left" ng-click="savePlannedCourses()">Save</a>
            <span style="float:right"><p ng-click="logout()" class="header-item-right">Logout {{userEmail}}</p></span>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <div ng-show="selectedFlowchartName != null">
                            <h2>Editing "{{selectedFlowchartName}}"
                                <img src="http://simpleicon.com/wp-content/uploads/pencil.png" ng-click="editFlowchartName()" style="position:relative;width:32px;height:32px;">
                                <img src="https://www.shareicon.net/data/2015/08/23/89587_trash_512x512.png" ng-click="deleteCurrentFlowchart()" style="position:relative;width:32px;height:32px;">
                            </h2>
                            <br>
                        </div>

                        <div ng-show="selectedFlowchartName != null" class="flowchart">
                            <div class="year">
                                <h1>Freshman</h1>
                                <div class="flowchartQuarterColumn">
                                    <h1>Fall</h1>
                                    <ul id="quarter1" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 1 && c.quarter == 1">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Winter</h1>
                                    <ul id="quarter2" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 1 && c.quarter == 2">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Spring</h1>
                                    <ul id="quarter3" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 1 && c.quarter == 3">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="year">
                                <h1>Sophomore</h1>
                                <div class="flowchartQuarterColumn">
                                    <h1>Fall</h1>
                                    <ul id="quarter4" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 2 && c.quarter == 1">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Winter</h1>
                                    <ul id="quarter5" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 2 && c.quarter == 2">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Spring</h1>
                                    <ul id="quarter6" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 2 && c.quarter == 3">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="year">
                                <h1>Junior</h1>
                                <div class="flowchartQuarterColumn">
                                    <h1>Fall</h1>
                                    <ul id="quarter7" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 3 && c.quarter == 1">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Winter</h1>
                                    <ul id="quarter8" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 3 && c.quarter == 2">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Spring</h1>
                                    <ul id="quarter9" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 3 && c.quarter == 3">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="year">
                                <h1>Senior</h1>
                                <div class="flowchartQuarterColumn">
                                    <h1>Fall</h1>
                                    <ul id="quarter10" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 4 && c.quarter == 1">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Winter</h1>
                                    <ul id="quarter11" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 4 && c.quarter == 2">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="flowchartQuarterColumn">
                                    <h1>Spring</h1>
                                    <ul id="quarter12" class="flowchartQuarter">
                                        <li class="course {{c.educationArea}}" data-courseId="{{c.courseId}}" ng-repeat="c in plannedCourses track by $index | orderBy:'position'" ng-if="c.year == 4 && c.quarter == 3">
                                            <span class="courseDeleteButton" onclick="$(this).parent().remove();">X</span>
                                            <span>{{c.name}}</span>
                                            <br>
                                            {{c.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                    <br>
                    <h4>FAQs</h4>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question"> &#x25BE; How do I create a flowchart? </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    To create a flowchart, click Saved Flowcharts, then select the "+". A new flowchart
                                    will be created based on your selected major.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question"> &#x25BE; How do I edit a flowchart? </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    To edit a flowchart, click Saved Flowcharts, then select the flowchart you wish to
                                    edit. Drag and drop the classes you wish to move to their new locations. Any
                                    changes made will be automatically saved.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question"> &#x25BE; How do I edit a flowchart name? </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Click on the pencil symbol next to the name of the flowchart at the top of the page.
                                    A popup message will appear prompting you to create a new name for the flowchart.
                                    Once you have filled in a new name, select "OK" and the flowchart name will be
                                    saved.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question"> &#x25BE; What do the course colors mean? </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Green = General Education course
                                    Red = Support course
                                    Yellow = Major course
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.faq_question').click(function() {
                if ($(this).parent().is('.open')){
                    $(this).closest('.faq').find('.faq_answer_container').animate({'height':'0'},500);
                    $(this).closest('.faq').removeClass('open');
                    } else{
                        var newHeight =$(this).closest('.faq').find('.faq_answer').height() +'px';
                        $(this).closest('.faq').find('.faq_answer_container').animate({'height':newHeight},500);
                        $(this).closest('.faq').addClass('open');
                    }
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var app = angular.module('StudentApp', ['ui.bootstrap']);

        function createNewFlowchart($scope, $http, name, plannedCourses){
            console.log($scope.plannedCourses);
            $http({
                method : 'POST',
                url : 'studentFlowchart',
                data : {
                    "studentId": $scope.userId,
                    "flowchartName": name,
                    "plannedCourses": plannedCourses
                }
            }).then(function (response) {
                $scope.userFlowcharts.push(response.data);
            });
        };

        function createDefaultFlowchart($scope, $http){
            $http.get("/majorFlowchart/major/" + $scope.userMajor)
            .then(function (response) {
                if(response.data) {
                    createNewFlowchart($scope, $http, "Default Flowchart", response.data.defaultFlowchart.plannedCourses);
                }
                else {
                    createNewFlowchart($scope, $http, "Blank Flowchart", []);
                }
            });
        };

        function loadSavedFlowcharts($scope, $http){
            $http.get("/studentFlowchart/student/" + $scope.userId)
            .then(function (response) {
                $scope.userFlowcharts = response.data;
            });
        };

        function initialLoadOfCatalogAndFlowcharts($scope, $http){

            $http.get("/majorFlowchart/major/" + $scope.userMajor + "/color")
            .then(function (response) {
                $scope.majorCourseIds = response.data.majorCourseIds;
                $scope.supportCourseIds = response.data.supportCourseIds;

                console.log($scope.majorCourseIds);
                console.log($scope.supportCourseIds);

                loadSavedFlowcharts($scope, $http);
                loadCatalogCourses($scope, $http);
            });
        };

        function loadUserInformation($scope, $http){
            console.log(window.sessionStorage.getItem("token"));
            var token = window.sessionStorage.getItem("token");

            $http({
                method : 'GET',
                url : 'user',
                headers : {
                    "X-Auth-Token" : token
                }
            }).then(function (response) {
                console.log("user id:");
                console.log(response.data.id);
                $scope.userId = response.data.id;
                $scope.userEmail = response.data.email;
                $scope.userMajor = response.data.major;

                initialLoadOfCatalogAndFlowcharts($scope, $http);
            });
        }

        function loadPlannedCoursesFromCatalog($scope, $http, data) {
            $http({
                method : 'GET',
                url : 'catalog'
            }).then(function (response) {
                $scope.plannedCourses = [];
                $('.flowchartQuarter li').remove();

                angular.forEach(data, function(plannedCourse) {
                    angular.forEach(response.data, function(catalogCourse) {
                        if(catalogCourse.courseId == plannedCourse.courseId) {
                            catalogCourse.year = plannedCourse.year;
                            catalogCourse.quarter = plannedCourse.quarter;
                            catalogCourse.position = plannedCourse.position;

                            if ($.inArray(plannedCourse.courseId, $scope.majorCourseIds) >= 0) {
                                catalogCourse.educationArea = "major";
                            }
                            else if ($.inArray(plannedCourse.courseId, $scope.supportCourseIds) >= 0) {
                                catalogCourse.educationArea = "support";
                            }
                            else {
                                catalogCourse.educationArea = "ge";
                            }

                            $scope.plannedCourses.push(catalogCourse);
                        }
                    });
                });
            });
        }

        function setHeaderFunctions ($scope, $http) {
            $scope.loadPlannedCourses = function loadPlannedCourses(flowchartId){
                $scope.plannedCourses = [];
                $http.get("/studentFlowchart/" + flowchartId)
                .then(function (response) {
                    $scope.selectedFlowchartId = response.data.id;
                    $scope.selectedFlowchartName = response.data.flowchartName;
                    loadPlannedCoursesFromCatalog($scope, $http, response.data.plannedCourses);
                });
            }

            $scope.addNewFlowchart = function() {
                createDefaultFlowchart($scope, $http);
            };

            $scope.deleteCurrentFlowchart = function() {
                $http({
                    method : 'DELETE',
                    url : 'studentFlowchart/' + $scope.selectedFlowchartId
                }).then(function (response) {
                    if (response.status < 300) {
                        $scope.selectedFlowchartId = null;
                        $scope.selectedFlowchartName = null;
                        loadSavedFlowcharts($scope, $http);
                    }
                    else {
                        window.alert("There was a problem deleting the flowchart.");
                    }
                });
            }

            $scope.savePlannedCourses = function() {
                $scope.savedCourses = [];

                var quarters = document.getElementsByClassName("flowchartQuarter");
                var q = 0;
                angular.forEach(quarters, function(quarter) {
                    var courses = quarter.getElementsByClassName("course");
                    p = 1;
                    angular.forEach(courses, function(course) {
                        $scope.savedCourses.push( {
                            "courseId": course.dataset.courseid,
                            "year": Math.floor(q/3) + 1,
                            "quarter": (q%3) + 1,
                            "position": p
                        } );
                        p = p + 1;
                    });
                    q = q + 1;
                });

                $http({
                    method : 'PUT',
                    url : 'studentFlowchart/' + $scope.selectedFlowchartId,
                    data : $scope.savedCourses
                }).then(function (response) {
                    console.log("check response to see if the backend says its all cool");
                    console.log("then give user either error or confirmation");
                    console.log(response.status);
                    if (response.status < 300) {
                        window.alert("Flowchart saved successfully.");
                    }
                    else {
                        window.alert("There was a problem saving the flowchart.");
                    }
                });
            };

            $scope.editFlowchartName = function() {
                var oldName = $scope.selectedFlowchart;
                var newName = window.prompt("Enter new flowchart name.", $scope.selectedFlowchartName);

                if (newName == null || newName == "") {
                    console.log("cancelled prompt");
                } else {
                    $http({
                    method : 'PUT',
                    url : 'studentFlowchart/' + $scope.selectedFlowchartId + '/name',
                    data : newName
                    }).then(function (response) {
                        if (response.status < 300) {
                            $scope.selectedFlowchartName = newName;
                            console.log($scope.userId);
                            $http.get("/studentFlowchart/student/" + $scope.userId)
                            .then(function (response) {
                                $scope.userFlowcharts = response.data;
                            });
                            console.log($scope.userId);
                        }
                        else {
                            window.alert("There was a problem renaming your flowchart.");
                        }
                    });
                }
            };
        }

        function loadCatalogCourses ($scope, $http){
            $http({
                method : 'GET',
                url : 'catalog'
            }).then(function (response) {
                $scope.catalogCourses = response.data;

                console.log($scope.majorCourseIds);
                console.log($scope.catalogCourses);

                angular.forEach($scope.catalogCourses, function(course) {
                    if ($.inArray(parseInt(course.courseId), $scope.majorCourseIds) >= 0) {
                        course.educationArea = "major";
                    }
                    else if ($.inArray(parseInt(course.courseId), $scope.supportCourseIds) >= 0) {
                        course.educationArea = "support";
                    }
                    else {
                        course.educationArea = "ge";
                    }
                });
            });
        }

        app.controller('StudentCtrl', function ($scope, $http) {
            loadUserInformation($scope, $http);
            setHeaderFunctions($scope, $http);

            $scope.logout = function() {
                $scope.user = null;
                window.sessionStorage.removeItem("token");
                window.location.href = 'https://slocharts.herokuapp.com/';
            };
             
        });


    </script>
    <script>
        setTimeout(function() {
            $( "#quarter1, #quarter2, #quarter3, #quarter4, #quarter5, #quarter6, #quarter7, #quarter8, #quarter9, #quarter10, #quarter11, #quarter12" ).sortable({
                    connectWith: ".flowchartQuarter",
                    placeholder: "coursePlaceholder",
                    update: function(event, ui) {
                        console.log("TODO put flowchart validation here");
                    },
                    stop: function(event, ui) {
                        if ($(ui.item).find(".courseDeleteButton").length == 0)
                        {
                            var courseDeleteButton = $("<span class='courseDeleteButton'>X</span>").click(function(){
                                $(this).parent().remove();
                            });
                            $(ui.item).prepend(courseDeleteButton);
                        }
                    }
                }).disableSelection();

                $( "#catalog1 .course" ).draggable({
                    connectToSortable: ".flowchartQuarter",
                    helper: "clone",
                    revert: "invalid",
                    cursorAt: { top: 50, left: 50 }
                 });
            }, 15000);
    </script>
</body>
</html>