<body id="signUpPage">
<h1 id="signUpTitle"> SLOCHART Account</h1>

<div ng-controller="contactController">
  <div class ="newAccountBody-div" >
    <h1 id="body"></h1>
    <input ng-model="user.firstName" placeholder="First Name" class="txt-input" />
    <input ng-model="user.lastName" placeholder="Last Name" class="txt-input" />
    <input ng-model="user.email" placeholder="Email" class="txt-input" />
    <input ng-model="user.password" placeholder="Password" class="password-input" />
    <input ng-model="user.major" placeholder="Major (i.e. CSC, CPE, SE, etc)" class="txt-input" />

    <button id="signUpBtn" ng-click="save(user)" class="button">Create Account</button>


  </div>
</div>
</body>
</html>
