<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button aria-label="Menu" ng-click="toggleLeft()" ng-hide="isOpenLeft()" class="md-icon-button" id="hamburger">
            <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
        </md-button>
        <h2 flex md-truncate>Mustang Manager</h2>
        <md-button ng-click="logout()" class="md-primary" id="logout">Logout</md-button>
    </div>
</md-toolbar>

<md-content layout="row" layout-align="space-around">
    <md-card id="searchCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Course Search</span>
                <md-chips ng-model="ctrl.tags" readonly="false" md-removable="true" md-enable-chip-edit="true" placeholder="Enter a course..."></md-chips>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button ng-click="" class="md-primary">Search</md-button>
        </md-card-actions>
    </md-card>
    <md-card id="infoCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Course Info</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
    </md-card>
</md-content>

<div id="left" dragula='"first-bag"'>
    <div class="card">
        <div class="card-header">
            <h3>CPE 101</h3>
        </div>
        <div class="card-body">
            <p>4 units</p>
        </div>
    </div>
</div>
<div id="right" dragula='"first-bag"'>
    <div class="card">
        <div class="card-header">
            <h3>CPE 357</h3>
        </div>
        <div class="card-body">
            <p>4 units</p>
        </div>
    </div>
</div>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content ng-controller="LeftCtrl" layout-padding="">
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput" ng-model="data" md-autofocus="">
            </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
            Close Sidenav Left
        </md-button>
    </md-content>
</md-sidenav>